.about {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: max-content;
  padding-top: 12vh;
  justify-content: center;
  background-color: black;

  .container {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    width: 80vw;
    justify-content: space-around;
  }
}