.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
    height: 70%;
  padding: 15vh 0 10vh 0;

  .containerHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 255) 100%);
    width: 70%;
    height: 100%;

    .headTitle {
      color: white;
    }

    .headDescription {
      color: white;
      font-size: 1.5rem;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 255) 100%);
    width: 70%;
    height: 100%;

    .sloganContent {
      color: white;
      font-size: 1.5rem;
      width: 100%;
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: black;

      .sloganImage,
      > div img {
        width: 90%;
        height: auto;
        border-radius: 25px;
      }
      
      // Make EditableImage wrapper fit the layout
      > div:has(img) {
        width: 100%;
        display: flex;
        justify-content: flex-start;
      }

      .sloganTitle {
        font-size: 2rem;
        margin-top: -3vh;
        font-weight: 200;
        color: white;
        background-color: black;
        border: 1px solid red;
        padding: 1.5vh 3vw;
        width: min-content;
        margin-left: 0.9vw;
        letter-spacing: 0.1rem;
        z-index: 10;
      }
    }
  }
}