.aboutTeam4079 {
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 2vw;
    background-color: black;
    color: white;
    font-size: 1.5rem;


  }
}